.review img {
    width: auto;
    border-radius: 50%;
    position: relative;
    left: auto;
    right: auto;
    display: block;
    margin: auto;
}

.review p {
    padding-top: 60px;
    padding-bottom: 30px;
    line-height: 28px;
    color: rgba(31, 31, 57, 0.5);
    margin-bottom: 0;
    text-align: center;
}

.review h6 {
    font-weight: 700;
    color: #1F1F39;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    padding-bottom: 2rem;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
    background-color: red !important;
}